button {
	color: #555;
	background-color: #ccc;
	border: 0px;
	padding: 5px 8px;
	cursor: pointer;
	outline: none;
}

	button:hover {
		background-color: #fff;
	}

	button.selected {
		background-color: #fff;
	}

input, textarea {
	border: 1px solid transparent;
	color: #444;
}

input.Number {
	width: 50px;
	color: #08f!important;
	/* font-size: 18px; */
	border: 0px;
	padding: 2px;
	cursor: col-resize;
}

select {
	color: #666;
	background-color: #ddd;
	border: 0px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	select:hover {
		background-color: #fff;
	}

/* UI */

#viewport {
	position: absolute;
	top: 0;
	left: 0;
	width:80%;
	height:100%;
}

	#viewport #info {
		text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
		pointer-events: none;
	}
#topbar {
	position: absolute;
	left: 0;
	top: 0;
	height: 60px;
	width: 100%;
	background: #eee;
	font-size: 20px;
	border-bottom: solid 1px #333;
}
#topbar .Row {
	display: inline;
}
#topbar .Button{
	margin: 5px;
	height: 50px;
	width: 50px;
	background-repeat: no-repeat;
	background-size: 80% 80%;
	background-position: center;
}
	#scene1 {
		background-image: url(../cubemaps/scene1/nz.png);
	}
	#scene2 {
		background-image: url(../cubemaps/scene2/nz.png);
	}
	#toon {
		background-image: url(icons/toon.svg);
	}
	#reflective {
		background-image: url(icons/reflective.svg);
	}
	#glass {
		background-image: url(icons/glass.svg);
	}
	#custom {
		background-image: url(icons/add.svg);
	}

#topbar #github {
	float:right;
	height: 40px;
	width: 40px;
	margin-right:40px;
	border-radius: 20px !important;
	background-size: 100% 100% !important;
	background-image: url(icons/github.svg);
}
#sidebar {
	position: absolute;
	right: 0;
	bottom: 0;
	height: calc(100% - 60px);
	width: 20%;
	background: #eee;
	overflow: auto;
	font-size: 20px;
}

	#sidebar * {
		vertical-align: middle;
	}

	#sidebar .Panel {
		color: #888;
		padding: 10px;
		/* //border-bottom: 1px solid #ccc; */
		font-size: 15px;
	}

	#sidebar .Panel.collapsed {
		margin-bottom: 0;
	}

	#sidebar .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}
	#sidebar .Button {
		margin:10px;
		height:40px;
		width:40px;
		border: solid 2px #333;
		border-radius: 5px;
		background-repeat: no-repeat;
		background-size: 80% 80%;
		background-position: center;
	}
	#sidebar .Number {
		padding-left:10% !important;
		width:40%;
	}
	#sidebar .Integer {
		padding-left:10% !important;
		width:40%;
	}
	
	#circle {
		background-image: url(icons/circle.svg);
	}
	#line {
		background-image: url(icons/line.svg);
	}
	#spiral {
		background-image: url(icons/spiral.svg);
	}
	#heart {
		background-image: url(icons/heart.svg);
	}
	#upload {
		background-image: url(icons/upload.svg);
	}

#Outliner {
	color: #444;
	background-color: #fff;
	padding: 0;
	width: 100%;
	height: 120px;
	font-size: 12px;
	cursor: default;
	overflow: auto;
	outline: none !important;
}

	#Outliner .option {
		padding: 4px;
		color: #666;
		white-space: nowrap;
	}

	#Outliner .option:hover {
		background-color: rgba(0,0,0,0.02);
	}

	#Outliner .option.active {
		background-color: rgba(0,0,0,0.04);
	}

.Modal {
	z-index:20;
}
#loadingdlg {
	height: 10%;
	width: 70%;
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	background: rgba(3,3,3,0);
}
#barbox {
	width:100%;
	height:30px;
	border: solid 2px #fff;
	border-radius:15px;
	color:#fff;
	position: absolute;
}
#loadingInfo {
	text-align: center;
	color:#000;
	bottom: 0;
	left: 0;
	margin-top:7px;
	position: absolute;
	top: 0;
	right: 0;
}
#loadingbar {
	top:5px;
	height:20px;
	left: 1%;
	position: absolute;
	background: #ffffff;
	border-radius:10px;
}
